@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar by default */
.max-h-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.max-h-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.max-h-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

/* Show the scrollbar when scrolling */
.max-h-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
